.btn-dark-moon {
    background: #141E30!important;   
    background: -webkit-linear-gradient(to right, #243B55, #141E30)!important;  
    background: linear-gradient(to right, #243B55, #141E30)!important;
    color: #fff!important;
    border: 3px solid #eee!important;
  }
  
  .btn-rounded {
      border-radius: 35px!important;
  } 

